.btn {
  display: block;
  width: 299px;
  padding: 0.5625rem 0;
  background-color: #DD0000;
  border-radius: 0.3125rem;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  color: #ffffff;

  &:hover {
    cursor: url(../img/cursor.png), pointer;
    background-color: #C90000;
  }
}
