html, body {
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: normal;
  color: #001424;
  background-color: #ffffff; }

main {
  flex-grow: 1;
  flex-shrink: 0; }

.container {
  max-width: 288px;
  margin: 0 auto; }
  @media (min-width: 1368px) {
    .container {
      max-width: 1192px;
      margin: 0 auto; } }

.heading {
  margin: 0;
  margin-bottom: 2.375rem;
  font-weight: 700;
  color: #001424; }
  @media (min-width: 1368px) {
    .heading {
      margin-bottom: 3.125rem;
      font-size: 2rem;
      line-height: 1.25;
      text-align: center; } }

.btn {
  display: block;
  width: 220px;
  padding: 0.5312rem 0;
  background-color: #DD0000;
  border-radius: 0.3125rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.1875;
  text-align: center;
  text-decoration: none;
  color: #ffffff; }
  .btn:hover {
    cursor: url(../img/cursor.png), pointer;
    background-color: #C90000; }
  @media (min-width: 1368px) {
    .btn {
      width: 299px;
      padding: 0.5625rem 0;
      font-size: 1.25rem;
      line-height: 1.5; } }

.main-header {
  padding: 16px 0; }
  .main-header__wrapper {
    display: flex;
    align-items: center; }
  @media (min-width: 1368px) {
    .main-header__wrapper {
      display: flex;
      align-items: baseline; } }

.logo {
  display: block;
  margin-right: auto;
  text-decoration: none; }
  .logo:hover {
    cursor: url(../img/cursor.png), pointer; }
  .logo__title {
    display: none; }
  @media (min-width: 1368px) {
    .logo {
      margin-right: 4.5rem; }
      .logo__title {
        display: inline-block;
        margin-right: 0;
        margin-left: 0.25rem;
        font-size: 1.25rem;
        line-height: 1.2;
        color: #E30611; } }

.main-nav {
  margin-right: 1.625rem; }
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0;
    padding: 0;
    list-style: none; }
  .main-nav__link {
    display: none; }
    .main-nav__link--user {
      display: block;
      width: 32px;
      height: 32px;
      background-repeat: no-repeat;
      background-position: 50%;
      background-image: url(../img/user.svg);
      font-size: 0; }
      .main-nav__link--user:hover {
        cursor: url(../img/cursor.png), pointer; }
  @media (min-width: 1368px) {
    .main-nav {
      flex-grow: 1;
      margin-right: 0; }
      .main-nav__list {
        display: flex;
        justify-content: space-between;
        align-items: baseline; }
      .main-nav__link {
        display: block;
        color: #001424;
        text-decoration: none; }
        .main-nav__link--user {
          display: block;
          width: 209px;
          height: auto;
          padding: 0.5625rem 0;
          background-color: #DD0000;
          background-image: none;
          border-radius: 0.3125rem;
          color: #ffffff;
          font-size: 1rem;
          line-height: 1.25;
          text-align: center; }
          .main-nav__link--user:hover {
            background-color: #C90000; }
        .main-nav__link:hover {
          cursor: url(../img/cursor.png), pointer; }
        .main-nav__link:hover:not(.main-nav__link--user) {
          color: #C90000; } }

.mobile-nav__btn {
  display: block;
  width: 20px;
  height: 16px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(../img/menu.svg);
  font-size: 0; }
  .mobile-nav__btn:hover {
    cursor: url(../img/cursor.png), pointer; }

@media (min-width: 1368px) {
  .mobile-nav__btn {
    display: none; } }

.promo {
  margin-bottom: 2.75rem;
  padding-top: 1.875rem;
  padding-bottom: 14rem;
  background-color: #F2F3F7;
  background-image: url(../img/hero_banner_image.png);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 229px; }
  .promo__description {
    margin: 0;
    margin-bottom: 1.25rem;
    padding: 0;
    font-weight: 600;
    font-size: 0.937rem;
    line-height: 1.1875; }
  .promo__heading {
    max-width: 80%;
    margin: 0;
    margin-bottom: 1.25rem;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.25;
    text-transform: uppercase; }
  @media (min-width: 1368px) {
    .promo {
      margin-bottom: 6.25rem;
      padding-top: 4.375rem;
      padding-bottom: 4.875rem;
      background-color: #F2F3F7;
      background-image: url(../img/hero_banner_image.png);
      background-repeat: no-repeat;
      background-position: 75% bottom;
      background-size: auto; }
      .promo__description {
        max-width: 50%;
        margin-bottom: 1.25rem;
        font-size: 1.5rem;
        line-height: 1.3; }
      .promo__heading {
        max-width: 50%;
        margin-bottom: 3.75rem;
        font-size: 3.125rem;
        line-height: 1.1; } }

.tasks {
  margin-bottom: 7.25rem; }
  .tasks__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 1.875rem;
    padding: 0;
    list-style: none; }
  .tasks__item {
    margin-bottom: 0.5rem; }
    .tasks__item:last-of-type {
      margin-bottom: 0; }
  .tasks__link {
    display: block;
    padding: 0.5rem 1.25rem;
    border: 1px solid #E2E5EB;
    border-radius: 1rem;
    text-decoration: none;
    line-height: 1.5;
    text-align: center;
    color: #6E7782; }
    .tasks__link--active {
      color: #E30611;
      cursor: default; }
    .tasks__link:hover:not(.tasks__link--active) {
      border-color: #C90000;
      background-color: #C90000;
      color: #ffffff;
      transition: all 0.15s ease-in-out;
      cursor: url(../img/cursor.png), pointer; }
  @media (min-width: 1368px) {
    .tasks {
      margin-bottom: 6.25rem; }
      .tasks__list {
        flex-direction: row;
        justify-content: center; }
      .tasks__item {
        margin-bottom: 0;
        margin-right: 0.75rem; }
        .tasks__item:last-of-type {
          margin-right: 0; }
      .tasks__link {
        padding: 0.5rem 1.25rem;
        line-height: 1.25; } }

.products {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 320px;
  overflow: auto; }
  .products__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 276px;
    min-height: 417px;
    margin-right: 0.5rem;
    padding: 1.875rem 1.875rem;
    padding-top: 4.1875rem;
    background: #FFFFFF;
    border: 1px solid #E2E5EB;
    border-radius: 0.5rem;
    box-sizing: border-box; }
    .products__item--not-feature .products__item__description {
      margin-bottom: auto; }
    .products__item:hover {
      cursor: url(../img/cursor.png), pointer; }
    .products__item:hover .products__btn {
      background-color: #C90000;
      color: #ffffff; }
  .products__title {
    width: 211px;
    min-height: 3.5rem;
    margin: 0;
    margin-bottom: 1.4375rem;
    font-size: 1.5rem;
    line-height: 1.3; }
  .products__wrapper {
    margin-top: 1rem; }
  .products__description {
    margin: 0;
    margin-bottom: auto;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #202D3D; }
  .products__advantage {
    display: flex;
    margin-bottom: 1.25rem; }
    .products__advantage-num {
      margin-right: 0.5rem;
      font-size: 2.8125rem;
      line-height: 1;
      color: #333333;
      letter-spacing: -2px; }
    .products__advantage-text {
      font-size: 1.3125rem;
      line-height: 1;
      color: #333333; }
  .products__price {
    display: flex;
    align-items: baseline;
    margin-bottom: 1.25rem; }
    .products__price-num {
      margin: 0 0.5rem;
      font-size: 2.8125rem;
      line-height: 1;
      color: #333333;
      letter-spacing: -2px; }
    .products__price-text {
      font-size: 1.3125rem;
      line-height: 1;
      color: #333333; }
  .products__btn {
    display: block;
    width: 216px;
    padding: 0.375rem 0;
    background: #E2E5EB;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    color: #001424; }
    .products__btn:hover {
      cursor: url(../img/cursor.png), pointer; }
  @media (min-width: 1368px) {
    .products {
      width: auto;
      overflow: none; }
      .products__item {
        margin-right: 0; }
      .products__title {
        line-height: 1.07; } }

.popular-services {
  margin-bottom: 3.75rem; }
  .popular-services__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none; }
  .popular-services__item {
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    padding-bottom: 1.5625rem;
    padding-top: 6.5625rem;
    border: 1px solid #E2E5EB;
    border-radius: 8px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 20px 30px;
    background-size: 56px;
    background-image: url(../img/message.svg); }
    .popular-services__item:nth-of-type(2) {
      background-image: url(../img/call.svg); }
    .popular-services__item:nth-of-type(3) {
      background-image: url(../img/cloud.svg); }
    .popular-services__item:nth-of-type(4) {
      margin-bottom: 0;
      background-image: url(../img/atc.svg); }
    .popular-services__item:hover {
      cursor: url(../img/cursor.png), pointer; }
  .popular-services__title {
    margin: 0;
    margin-bottom: 0.625rem;
    font-size: 1.5rem;
    line-height: 1.3; }
  @media (min-width: 1368px) {
    .popular-services {
      margin-bottom: 6.25rem; }
      .popular-services__list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between; }
      .popular-services__item {
        width: 49%;
        margin-bottom: 2rem;
        padding: 1.875rem;
        padding-top: 1.5625rem;
        padding-right: 8.125rem;
        background-position: 90% 50%;
        background-image: url(../img/message.svg); }
        .popular-services__item:nth-of-type(3) {
          margin-bottom: 0; }
      .popular-services__title {
        margin: 0;
        margin-bottom: 1rem;
        line-height: 1.16; }
      .popular-services__description {
        width: 288px;
        margin: 0; } }

.features {
  margin-bottom: 3.75rem; }
  .features__list {
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;
    list-style: none; }
  .features__item {
    margin-bottom: 2rem;
    padding-left: 2.25rem;
    background-repeat: no-repeat;
    background-position: 0% 5px;
    background-image: url(../img/business.svg);
    font-size: 1rem;
    line-height: 1.5; }
    .features__item:nth-of-type(2) {
      background-image: url(../img/rub.svg); }
    .features__item:nth-of-type(3) {
      background-image: url(../img/check.svg); }
    .features__item:nth-of-type(4) {
      background-image: url(../img/online.svg); }
    .features__item:nth-of-type(5) {
      margin-bottom: 0;
      background-image: url(../img/number.svg); }
  .features__btn {
    margin: 0 auto; }
  @media (min-width: 1368px) {
    .features {
      margin-bottom: 6.25rem;
      background-repeat: no-repeat;
      background-position: 80% 100%;
      background-image: url(../img/feature-bg.png); }
      .features__heading {
        width: 460px;
        margin-left: auto;
        margin-right: auto; }
      .features__item {
        width: 600px;
        margin-bottom: 2rem;
        padding-left: 2.375rem;
        background-position: 0 50%;
        background-image: url(../img/business.svg); }
        .features__item:nth-of-type(5) {
          margin-bottom: 0; }
      .features__btn {
        margin: 0; } }

.main-footer {
  position: relative;
  padding: 1.5rem 0;
  background-color: #ADB0B3;
  color: #ffffff; }
  .main-footer__content {
    display: flex;
    flex-direction: column; }
  .main-footer__aside {
    margin-bottom: 2rem; }
  .main-footer__aside-title {
    display: block;
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: 700; }
  .main-footer__aside-text {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.43; }
  @media (min-width: 1368px) {
    .main-footer {
      padding-top: 3.5rem;
      padding-bottom: 1.75rem; }
      .main-footer__content {
        flex-direction: row;
        flex-wrap: wrap; }
      .main-footer__aside {
        width: 183px;
        margin-bottom: 0;
        margin-right: 5.9rem; } }

.secondary-nav__list {
  margin: 0;
  margin-bottom: 1.6rem;
  padding: 0;
  list-style: none; }
  .secondary-nav__list:last-of-type {
    margin-bottom: 4.5rem; }

.secondary-nav__item {
  display: none;
  margin-bottom: 0.5rem;
  font-size: 16px;
  line-height: 24px; }
  .secondary-nav__item--title {
    position: relative;
    display: block;
    margin-bottom: 1rem; }
    .secondary-nav__item--title::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 12px;
      height: 6px;
      background-repeat: 0;
      background-position: 50%;
      background-image: url(../img/drop-down.svg); }

.secondary-nav__link {
  color: #ffffff;
  text-decoration: none; }

@media (min-width: 1368px) {
  .secondary-nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5625rem; }
    .secondary-nav__item {
      display: block;
      margin-bottom: 1rem;
      font-size: 0.75rem;
      line-height: 1.3; }
      .secondary-nav__item--title {
        margin-bottom: 1.5rem;
        font-weight: 600; }
        .secondary-nav__item--title::after {
          display: none; }
        .secondary-nav__item--title:hover {
          cursor: default; }
      .secondary-nav__item:last-of-type {
        margin-bottom: 0; }
    .secondary-nav__link {
      color: #ffffff;
      text-decoration: none; }
      .secondary-nav__link:hover {
        color: #C90000;
        cursor: url(../img/cursor.png), pointer; } }

.copyright {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 1.25rem 1rem;
  background-color: #ffffff;
  font-size: 0.75rem;
  line-height: 1.3;
  font-weight: 600;
  color: #6E7782;
  text-align: center; }
  @media (min-width: 1368px) {
    .copyright {
      position: static;
      padding: 0;
      background: transparent;
      color: #ffffff;
      text-align: left; } }
